/* Extra tags */

.green { color: green }
.blue { color: blue; }
.yellow { color: yellow }
.red { color: red; }
.black { color: #000; }       /* black text intended for heading contrast */
.bold { font-weight: bold; }  /* bold for speaker's name on first/last slides */

.azul { color: #085AA6; }
.orange { color: orange }
.verde { color: #03A696 }
.verdd { color: #67fd9a }     /* verde de las tablas */
.white { color: white }
.naranja { color: #F97B64 }

